<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Config Listing</title>
    <style type="text/css" media="screen">
      /*
      .config {
        float: left;
        width: 200px;
      }
      */
    </style>
  </head>
  <body>
    <h1>Config Listing</h1>
    <a href="/config/new">New Config</a>
    <div>
      <% configs.each do |key, val| %>
        <div class="config">
          <h4><%= key %></h4>
          <pre><code><%= val %></code></pre>
          <form action="/config/<%= key %>" method="get" accept-charset="utf-8">
            <button>Edit</button>
          </form>
          <form action="/config/<%= key %>" method="post" accept-charset="utf-8">
            <input type="hidden" name="_method" id="_method" value="delete" />
            <button onclick="confirm('Delete <%= key %> configuration?')">Delete</button>
          </form>
        </div>
      <% end %>
    </div>
  </body>
</html>
